@import url('https://fonts.googleapis.com/css?family=Cabin');
@import './variables';
$cabin: 'Cabin', sans-serif;


html, body {
    margin: 0;
    background-color: #003459;
    font-family: $cabin;
}

.container{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin: 2.5em;
    background-color: white;
}

.button {
    width: 140px;
    border: 2px solid $blue-2;
    padding: 0.9em;
    padding-left: 1.5em;
    text-decoration: none;
    color: $blue-1;
    transition: 0.5s ease;
    border-radius: 25px;
    position: relative;

    i {
        display: inline;
        margin-left: 1em;
        position: absolute;
        transition: 0.5s ease;
    }

}



.button:hover{
    background-color: $blue-1;
    color: white;
    border: 2px solid $blue-1;

    & i {
       transform: translateX(20px)
    }

}


.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
    img {
        width: 20%;
        align-self: center;
        padding: 1em;
    }

}


.mainSection {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    
    grid-template-areas: 
        "text text image";

    .mainSectiontext{
        
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4em;
       
        h1{
            font-size: 3em;
        }

    }

    .mainSectionImage{
        
        grid-area: image;
        margin-bottom: 4em;
        margin-top: 3em;
        margin-right: 2em;

    }
}

@media only screen and (max-width: 1200px) {
    .header{
        justify-content: center;
        img{
            width: 40%;
        }
    }
    .mainSection{
    
    
    .mainSectionImage{
        
        img{
            width: 90%;
        }
    }
}
}

@media only screen and (max-width: 783px) {
    .mainSection {
       
        grid-template-areas: "text image";
        .mainSectiontext{
            align-items: center;
            margin: 0 4em; 
        }
        
        .mainSectionImage{
            text-align: center;
           
        }
    }   
}

@media only screen and (max-width: 500px) {
    .mainSection {
        grid-template-areas: 
            "text"
            "image"
            "image";

        .mainSectiontext{
            justify-content: center;
            align-items: center;
            margin: 0 2em; 
        }
        
        .mainSectionImage{
            text-align: center;
            
            margin: 2em 4em;
        }
    }   
}
@import './variables';

.descriptionBackground{

    background: url('https://images.unsplash.com/photo-1500893099951-bfbcb107cd0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f518e33095e8acffff04c182bb656cc3&auto=format&fit=crop&w=1500&q=80');

.descriptionSection {
    display: flex;
    background-color: rgba($color: $blue-2, $alpha: 0.5);
    justify-content: center;
    align-items: center;

    .descriptionPhoto {
        width: 30%;
        height: 500px;
        background: url('https://images.unsplash.com/photo-1471958680802-1345a694ba6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=141ed65bae0927538d045ef436582cb5&auto=format&fit=crop&w=832&q=80');
        background-position: center;
        background-repeat:  no-repeat;
        overflow: hidden;
        background-size: cover;
        border-radius: 10px;
        margin-top: 5em;
        margin-bottom: 5em;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
       
    }

    .descriptionInfo{
        background-color: white;
        border-radius: 10px;
        width:40%;
        padding: 2em;
        transform: translateX(-30px);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
}

}

@media only screen and (max-width: 1000px) {
    .descriptionBackground{
    .descriptionSection{

        

        .descriptionPhoto {
            width: 80%;
            height: 500px;
            margin-left: 2em;
        }

        .descriptionInfo{
            transform: translateX(-100px);
            width:80%;
            margin-right: 1em;
        }
    }
}
}

@media only screen and (max-width: 800px) {
    .descriptionBackground{
    .descriptionSection{

        .descriptionPhoto {
            display: none;
        }

        .descriptionInfo{
            transform: translateX(0px);
            width:80%;
            margin:4em 2em;
        }
    }
}
}

@media only screen and (max-width: 800px) {
    .descriptionBackground{
    .descriptionSection{

        .descriptionInfo{
            transform: translateX(0px);
            width:80%;
            margin:4em 0.5em;
            text-align: center;
        }
    }
}
}
.partnersSection{
    display: flex;
    justify-content: center;
    align-items: center;
   

.partnersInfo{
    padding: 5em 4em;
    p{
        margin-bottom: 5em;
    }

    #viewMore {
        width: 300px;
    }
}

.partners{
    width: 100%;
    display: flex;
    justify-content: center;
    .partner{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 30%;
       img{
           width: 80%;
           align-self: center;
       }
    }
    
}

}

.videoBackground {
    background: url('https://images.unsplash.com/photo-1468818438311-4bab781ab9b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b66994c56826698f9a8deec0753d597&auto=format&fit=crop&w=1502&q=80');
    

    .videoSection {
        background-color: rgba($color: $blue-2, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i{
            font-size: 5em;
            color: white;
            margin-top: 3em ;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            transition: 0.5s ease;
        }
        
        i:hover{
           color: $blue-1;
        }

        p{
            color: white;
            font-size: 2em;
            margin-bottom: 5em;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            
        }

    }

}





.devicesSection{
    display: flex;
    

    .devicesText{
        flex-grow: 2;
        margin: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .devicesPhotos {
        flex-grow: 3;
        display: flex;
        position: relative;
        margin: 3em;

        #iphone {
            position: absolute;
            height: 50%;
            align-self: center; 
        }

    }


}
.footerBackground{
    background: url('https://images.unsplash.com/photo-1501823419255-f27cdc6fde3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6fe92a3299e86920cace69124ee62c3a&auto=format&fit=crop&w=1500&q=80');
    background-position: center;
    background-repeat:  no-repeat;
    overflow: hidden;
    background-size: cover;
}

.footerSection{
    background-color: rgba($color: $blue-2, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .newsletter{
        text-align: center;
        
        p{
            margin-top: 4em;
            font-size: 1.2em;
            color: white;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            
        }

        form {
            
            background-color: white;
            border-radius: 40px;
            
            input {
                border: none;
                padding: 0.8em 1em;
                border-radius: 40px;
                outline: none;
                font-family: $cabin;
            }

            input[type = button]{
                background-color: $blue-2;
                color: white;
                transition: 0.5s ease;
            }
            input[type = button]:hover{
                background-color: $blue-1;
                color:  white;
                
            }
        }
    }

    .links{
        display: flex;
        width: 60%;

        .siteMap{
            margin: 2em;
            p{
                color: white;
            }

            a{
                text-decoration: none;
                display: block;
                color: rgba(255, 255, 255, 0.8);
                margin: 0.5em;
                transition: 0.5s ease;
                
            }

            a:hover{
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    .footer{
        display: flex;
        flex-direction: column;

        .footerImg {
            display: flex;
            justify-content: center;
            margin-bottom: 3em;
            margin-top: 3em;

            img {
                width: 5em;
                align-self: center;
                margin-right: 4em;
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            }

            i {
                font-size: 5em;
                color: white;
                transition: 0.5s ease;
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            }

            i:hover{
                color: $blue-2;
            }
        }
    }

}