.devicesSection{
    display: grid;
    grid-template-areas: "text photos";

    .devicesText{
        grid-area: text;
        margin: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .devicesPhotos {
        grid-area: photos;
        display: flex;
        position: relative;
        margin: 7em 3em;

        #iphone {
            position: absolute;
            height: 80%;
            align-self: center; 
        }
    }
}

@media only screen and (max-width: 1100px){
    .devicesSection{
        grid-template-areas: 
            "text"
            "photos";

            .devicesText{
                text-align: center;
            }

            .devicesPhotos{
                justify-content: center;
                margin: 3em 0;
                
                img{
                    #iphone{
                        transform: translateX(-200px);
                    }
                }
            }
    }
}

@media only screen and (max-width: 800px){
    .devicesSection{
       

            .devicesPhotos{
                display: flex;
                flex-direction: column;
                margin: 1em;
                justify-content: center;
                
               img{
                   width: 80%;
                   object-fit: contain;

                   #iphone{
                       position: static;
                       width: 80%;
                   object-fit: contain;
                   transform: translateX(0px);
                   }
               }
            }
    }
}