.footerBackground{
    background: url('../../assets/3.jpg');
    background-position: center;
    background-repeat:  no-repeat;
    overflow: hidden;
    background-size: cover;
}

.footerSection{
    background-color: rgba($color: $blue-2, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .newsletter{
        text-align: center;
        
        p{
            margin-top: 4em;
            font-size: 1.2em;
            color: white;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            
        }

        form {
            
            background-color: white;
            border-radius: 40px;
            
            input {
                border: none;
                padding: 0.8em 1em;
                border-radius: 40px;
                outline: none;
                font-family: $cabin;
            }

            input[type = button]{
                background-color: $blue-2;
                color: white;
                transition: 0.5s ease;
            }
            input[type = button]:hover{
                background-color: $blue-1;
                color:  white;
                
            }
        }
    }

    .links{
        display: flex;
        width: 60%;

        .siteMap{
            margin: 2em;
            p{
                color: white;
            }

            a{
                text-decoration: none;
                display: block;
                color: rgba(255, 255, 255, 0.8);
                margin: 0.5em;
                transition: 0.5s ease;
                
            }

            a:hover{
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    .footer{
        display: flex;
        flex-direction: column;

        .footerImg {
            display: flex;
            justify-content: center;
            margin-bottom: 3em;
            margin-top: 3em;

            img {
                width: 5em;
                align-self: center;
                margin-right: 4em;
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            }

            i {
                font-size: 5em;
                color: white;
                transition: 0.5s ease;
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            }

            i:hover{
                color: $blue-2;
            }
        }
    }

}

@media only screen and (max-width: 800px){

    .footerBackground .footerSection 
    
    .links{
        width: 90%;
        .siteMap{
            margin: 0.5em;
        }
    }

    .footer .footerLogo{
        text-align: center;
        img{
            width: 80%;
        object-fit: contain;
        }
        
    }

}