@import url('https://fonts.googleapis.com/css?family=Cabin');
@import './variables';
$cabin: 'Cabin', sans-serif;


html, body {
    margin: 0;
    background-color: #003459;
    font-family: $cabin;
}

.container{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin: 2.5em;
    background-color: white;
}

.button {
    width: 140px;
    border: 2px solid $blue-2;
    padding: 0.9em;
    padding-left: 1.5em;
    text-decoration: none;
    color: $blue-1;
    transition: 0.5s ease;
    border-radius: 25px;
    position: relative;

    i {
        display: inline;
        margin-left: 1em;
        position: absolute;
        transition: 0.5s ease;
    }

}



.button:hover{
    background-color: $blue-1;
    color: white;
    border: 2px solid $blue-1;

    & i {
       transform: translateX(20px)
    }

}


.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
    img {
        width: 20%;
        align-self: center;
        padding: 1em;
    }

}


.mainSection {
    width: 70%;
   background-color: white;
   margin: 0 auto;
   display: flex;
   min-width: 800px;
   
    
    h1{
        margin: 0;
        font-size: 3em;
    }

    .mainSectiontext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5em;
        padding-left: 3em;
        flex-grow: 3;
        min-width: 460px;
        

    }

    .mainSectionImage{
        flex-grow: 2;
        img {
            display: block;
            margin-top: 2em;
            margin-bottom: 4em;
        }
    }


}




@media (max-width: 1100px){
    .mainSectionImage {
        img{
            width: 70%;
        }
    }

    .mainSection .mainSectiontext{
        padding-right: 3em;
    }

}