@import url('https://fonts.googleapis.com/css?family=Cabin');
@import './variables';
$cabin: 'Cabin', sans-serif;


html, body {
    margin: 0;
    background-color: #003459;
    font-family: $cabin;
}

.container{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin: 2.5em;
    background-color: white;
}

.button {
    width: 140px;
    border: 2px solid $blue-2;
    padding: 0.9em;
    padding-left: 1.5em;
    text-decoration: none;
    color: $blue-1;
    transition: 0.5s ease;
    border-radius: 25px;
    position: relative;

    i {
        display: inline;
        margin-left: 1em;
        position: absolute;
        transition: 0.5s ease;
    }

}



.button:hover{
    background-color: $blue-1;
    color: white;
    border: 2px solid $blue-1;

    & i {
       transform: translateX(20px)
    }

}


.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
    img {
        width: 20%;
        align-self: center;
        padding: 1em;
    }

}


.mainSection {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    
    grid-template-areas: 
        "text text image";

    .mainSectiontext{
        
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4em;
       
        h1{
            font-size: 3em;
        }

    }

    .mainSectionImage{
        
        grid-area: image;
        margin-bottom: 4em;
        margin-top: 3em;
        margin-right: 2em;

    }
}

@media only screen and (max-width: 1200px) {
    .header{
        justify-content: center;
        img{
            width: 40%;
        }
    }
    .mainSection{
    
    
    .mainSectionImage{
        
        img{
            width: 90%;
        }
    }
}
}

@media only screen and (max-width: 783px) {
    .container{
        margin: 1.5em;
        .mainSection {
        
            grid-template-areas: "text image";
            .mainSectiontext{
                align-items: center;
                margin: 0 4em; 
            }
            
            .mainSectionImage{
                text-align: center;
            
            }
        }
}   
}

@media only screen and (max-width: 500px) {
    .container{
        margin: 0.5em;
        .mainSection {
            grid-template-areas: 
                "text"
                "image"
                "image";

            .mainSectiontext{
                justify-content: center;
                align-items: center;
                margin: 0 2em; 
            }
            
            .mainSectionImage{
                text-align: center;
                
                margin: 2em 4em;
            }
        }
    }   
}