
.videoBackground {
    background: url('../../assets/1.jpg');
    background-position: center;
    

    .videoSection {
        background-color: rgba($color: $blue-2, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .video{

            text-align: center;

            i{
                font-size: 5em;
                color: white;
                margin-top: 3em ;
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
                transition: 0.5s ease;
            }
            
            i:hover{
            color: $blue-1;
            }

            p{
                color: white;
                font-size: 2em;
                margin-bottom: 5em;
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
                
            }
        }
    }

}


@media only screen and (max-width: 500px) {
    .videoBackground .videoSection .video {
        i{
            font-size: 3em;
        }

        p{
            font-size: 1em;
        }
    }
}

