
.videoBackground {
    background: url('https://images.unsplash.com/photo-1468818438311-4bab781ab9b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b66994c56826698f9a8deec0753d597&auto=format&fit=crop&w=1502&q=80');
    

    .videoSection {
        background-color: rgba($color: $blue-2, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i{
            font-size: 5em;
            color: white;
            margin-top: 3em ;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            transition: 0.5s ease;
        }
        
        i:hover{
           color: $blue-1;
        }

        p{
            color: white;
            font-size: 2em;
            margin-bottom: 5em;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        }

    }

}




